@import url('https://fonts.googleapis.com/css2?family=Inter+Tight&family=Lato&display=swap');

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
}

.btn {
    padding: 5px 10px;
    color: white;
    background-color: var(--main-bg-color);
    border: 2px solid whitesmoke;
    border-radius: 17px;
    cursor: pointer;
    /* .search button{
    font-family: 'Lato', sans-serif; 
        in style.css
     } */
    font-family: 'Lato', sans-serif;
}

.btn:hover {
    color: white;
    background-color: var(--main-bg-color);
    font-weight: 900;
}

.lines {
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin: 16px 10px;
}